#top_menu,
#right_bar,
#tag_cloud,
.user_navbar {
  display:none!important;
}

#logo {
  position: fixed!important;
  top: 25px!important
}

body #banner {
  border-bottom: none!important;
}

#main_column {
  float: none!important;
  margin: 0 auto!important;
}
